.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}
.sb-section,
.sb-dash {
  font-size: x-large;
}
.sb-tag {
  font-size: large;
  cursor: pointer;
}
.sb-tag:hover,
.sb-dash:hover {
  color: #f8f9fa;
}

.text-reset {
  text-decoration: none;
}
